@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
  color: #008085;
}
p{
  font-size: 1.25em;
}
li{
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.menu a{
  font-size: 1.25em;
  padding: 5px 10px;
}
.container1{
  width: 90vw;
  margin: 0 auto;
}

.menu {
  background-color: #00CAD1;
}
.menu img{
  height: 75px;
}
.menu div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu nav ul{
  display: flex;
  gap: 20px;
}
.menu nav a:hover, .info-espec a:hover{
  color: #008085;
}
.banner{
  width: 100%;
  height: 90vh;
  background: #00CAD1 url(../img/recepcao.png) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; 
  margin-bottom: 60px;
}
.banner p{
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
}

.titulo {
  text-align: center;
  padding-bottom: 20px;
}
.titulo h2{
  font-size: 2rem;
  padding: 20px 0px 20px;
}
.titulo p{
  padding-bottom: 1em;
}
.sobre-lista{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.sobre-lista p{
  text-transform: uppercase;
  font-size: 1.25em;
  padding-bottom: 20px;
}
.sobre-lista ul li{
  list-style: disc inside;
  font-size: 1.25em;
}

.cards{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-espec{
  width: 350px;
  box-shadow: 1px 1px 10px 5px #e2cbcb80, -1px -1px 10px 5px #e2cbcb26;
  flex: 1 0 auto;
}
.card-espec img{
  width: 100%;
}
.card-espec p{
  text-align: center;
  padding: 10px 5px;
  text-transform: uppercase;
  font-size: 1.25em;
}

.info-espec a{
  display: block;
  width: 150px;
  background-color: #00babd;
  border-radius: 5px;
  margin: 30px auto 60px;
  padding: 10px 5px;
  text-align: center;
}
.mapa iframe{
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}
.rodape{
  background-color: #008085;
  text-align: center;
  padding: 20px 0px;
}
.rodape p{
  color: #fff;
  padding: 10px 0px;
}

/*Estilo Responsivo*/

@media screen and (max-width:425px){
  .menu div{
    flex-direction: column;
  }
  p, a, li{
    font-size: 0.85em;
  }
  .menu li{
    font-size: 1.2em;
  }
  .titulo h2{
    font-size: 1em;
    padding-top: 0;
  }
  .titulo p{
    margin: 0 10px;
  }
  .menu ul{
    border-top: 2px solid #0081856c;
    padding: 10px 0;
  }
  .banner{
    max-height: 200px;
  }
  .banner p{
    font-size: 1.25em;
  }
  .container1{
    width: 80vw;
    margin: 0 auto;
  }
  .sobre-lista ul li{
   font-size: 0.85em;
   text-align: center;
  }
  .sobre-lista p{
    font-size: 1em;
    text-align: center;
   }
  .sobre-lista img{
    display: none;
  }
  .card-espec{
    width: 270px;
}
.rodape img{
  max-height: 60px;
}
}

@media screen and (min-width:426px) and (max-width:768px){
  .banner{
    max-height: 300px;
    margin-bottom: 40px;
  }
  p, a, li{
    font-size: 1em;
  }
  p{
    margin: 0px 15px;
  }
  .sobre-lista img{
    display: none;
  }
  .menu nav ul{
    display: flex;
    gap: 0;
  }
  .menu img{
    height: 60px;
  }
  .banner p{
    font-size: 2em;
}
.card-espec{
  width: 325px;
}
.rodape img{
  max-height: 80px;
}
}

@media screen and(min-width:769px) and (max-width:1024px){
  .banner{
    max-height: 400px;
  }
  .banner p{
    font-size: 3em;
  }
}

@media screen and(min-width:1025px){
  .banner{
    height: 500px;
  }
  .banner p{
    font-size: 4em;
  }
}