body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #626260;
}
.fixo{
  width: 100%;
  position: fixed;
  z-index: 9;
 }
.container{
  max-width: 1024px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: #626260;
  padding: 5px 10px;
}
ul{
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}
li{
  list-style: none;
}
span{
  color: slateblue;
}
h2, h3{
  text-transform: uppercase;
  font-weight: normal;
}
.menu{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  background-color: #fff;
}
.banner{
  height: 80vh;
  padding-top: 60px;
  background: #000 url(../img/img-fundo.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner div{
  height: 180px;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #62626097;
  border: 1px solid #fff;
  color: #fff;
}
.banner h1{
  font-size: 2.5rem;
}
.banner p{
  font-size: 1.25rem;
}
.subtitulo{
  padding: 55px 0px;
  text-align: center;
}
.cards-quartos{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.card-quarto img{
  width: 330px;
}
.card-quarto h3{
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #868686;
}
.mapa-iframe iframe{
  width: 100%;
  height: 510px;
}
.cards-sobre{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-sobre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 350px;
}
.card-sobre img{
  width: 100px;
  height: 120px;
  padding-right: 40px;
}
.bg-rodape{
  background-color: #49997C;
  color: #fff;
}
.rodape{
  display: flex;
  gap: 5px;
  margin-top: 40px;
  padding: 15px 0px;
  font-size: 14px;
  border-bottom: 2px solid #626260;
}
.rodape div{
  display: flex;
  gap: 10px;
  align-items: center;
}
.rodape img{
  width: 40px;
  height: 40px;
}
.rodape a{
  padding: 0;
  color: #fff;
}
.rodape h3{
font-weight: bold;
}
.copy{
  text-align: center;
  color: #fff;
  background-color: #49997C;
  padding: 5px 0px;
}
.copy span{
  color: #000000;
  font-weight: bold;
}
