@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #80808029;
  font-family: "Raleway";
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}
.cabecalho{
  background-color: #fff;
}
.cabecalho div{
  display: flex;
  gap: 10px;
  padding: 15px 0;
  color: #583EA2;
}
.cabecalho img{
  width: 32px;
}
.orcamento{
  height: auto;
  background: #fff url(../img/bahia.jpg) center no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.orcamento-cabecalho{
  background-color: #583EA2;
  color: #fff;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  max-width: 1024px;
}
.orcamento-cabecalho img{
  width: 22px;
  rotate: -45deg;
}
.orcamento-form{
  max-width: 1024px;
  height: 100%;
  padding: 30px 25px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.orcamento-form h2{
  font-size: 22px;
  margin-bottom: 24px;
}
.orcamento-form input, .orcamento-form select{
  width: 100%;
  height: 32px;
  margin: 10px 0;
  padding: 0px 5px;
}
.form-duplo{
  display: flex;
  justify-content: space-between;
}
.form-duplo div{
  width: calc(50% - 10px);
}
.radio, .checkbox{
  width: 100%;
  display: flex;
  gap: 40px;
}
.radio div,.checkbox div{
  display: flex;
  align-items: center;
}
.radio label, .checkbox label{
  margin: 0px 10px;
}
.radio input, .checkbox input{
  width: 15px;
}
button{
  width: 160px;
  height: 32px;
  border: none;
  background-color: #583EA2;
  color: #fff;
  font-weight: bold;
  margin-top: 12px;
}
button:hover{
  cursor: pointer;
  background-color: #4b338d;
}

/*---------Ofertas---------*/
.ofertas{
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 32px auto 0px;
}
.subtitulo{
  font-size: 20px;
  margin-bottom:10px ;
}
.ofertas p, .explore p{
  margin-bottom: 15px;
}
.ofertas span{
  font-weight: bold;
}
.ofertas-imagens {
  width: 100%;
  height: 375px;
  display: flex;
  justify-content: space-between;
}

.oferta-imagem-destaque {
  position: relative;
  width: calc(50% - 10px);
  height: 100%;
}

.oferta-quatro-imagens {
  width: calc(50% - 10px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.oferta-quatro-imagens figure {
  position: relative;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  margin: 0 6px;
}

.oferta-imagem-destaque img, .oferta-quatro-imagens img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.oferta-imagem-destaque figcaption, .oferta-quatro-imagens figcaption {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  background: rgb(0 0 0 / 50%);
  font-size: 17px;
  color: #fff;

  padding: 5px 10px;
  box-sizing: border-box;
}
/*----------Natureza----------*/
.natureza-duas-imagens {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.natureza-imagem {
  width: calc(50% - 10px);
  height: 100%;
}

.natureza-imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.natureza-imagem div {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
}

.natureza-imagem h3 {
  font-size: 16px;
}

.natureza-imagem p {
  color: grey;
  font-size: 14px;
  margin: 15px 0 0 0px;
}
/*---------Rodapé-----------*/
.rodape{
  margin-top: 120px;
  background-color: #5D15D1;
}
.icone img{
  width: 32px;
  height: 32px;
}
.icone{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px
}
.rodape p{
  display: inline;
}
.rodape-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
} 
.rodape-display a{
  color: #fff;
  text-decoration: none;
}
.rodape-display h3{
  margin: 20px 0;
  font-size: 28px;
}
.rodape-info, .rodape-redes{
  margin: 15px 0;
}
/*------------Responsivo--------------*/
@media (max-width: 1100px){
  .container{
    max-width: 90%;
  }
  .galeria-natureza img{
    width: 100%;
    height: 360px;
  }
  .ofertas-img {
    height: 365px;
  }
}
@media (max-width:768px){
  button{
    width: 100%;
  }
.ofertas-imagens {
    height: 100%;
    flex-direction: column;
}

.oferta-quatro-imagens {
    width: 100%;
}

.oferta-imagem-destaque, .oferta-quatro-imagens figure {
    width: 100%;
    height: 225px;
    margin-top: 15px;
}
.natureza-duas-imagens {
  flex-direction: column;
}

.natureza-imagem {
  width: 100%;
  margin-top: 15px;
}
.rodape-display{
  flex-direction: column;
}
}
@media (max-width:540px){
  .form-duplo{
    display: flex;
    flex-direction: column;
  }
  .form-duplo div{
    width: 100%;
  }
  .radio, .checkbox{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
@media (min-width:320px) and (max-width:539px){
  .cabecalho div{
    display: flex;
    gap: 5px;
    padding: 5px 0;
    color: #583EA2;
    font-size: 12px;
  }
  .cabecalho img{
    width: 24px;
    height: 24px;
  }
}